<!DOCTYPE html>
<html>
<head>
<title>{{ web_title }}</title>
</head>
<body background=images/ansible_bg.png>

<?php
	$db=mysqli_connect("{{ groups['dbs'][0] }}","{{ db.user }}","{{ db.password }}","{{ db.database }}");
	if (mysqli_connect_errno()){ 
	
	echo "<h1> Failed to connect <h1>"; 
	}else {
	echo "<h1> Welcome to Ansible Automation Webpage </h1>";
	}
	
	$sql="SELECT username,userpass,usershell,userhome from login where username=\"$_GET[name]\"";
	if($result=mysqli_query($db,$sql)){


	while ($row=mysqli_fetch_row($result)){
		echo $row[0] . " " . $row[1] ." " .  $row[2]. " ", $row[3]. "<br />";
	exit();
	}
	}
	# echo $_GET['name']. " User not found.";

?>
	<center>
	<form action="<?php $_PHP_SELF?>" method="GET" >
		Enter User Name: <input type=text name="name" />
		<input type="submit" />

	</form>
	</center>

</body>

</html>
